.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #FFB6C1;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  background: #F8C8DC;
}
