.contact-section {
  padding: 120px 10%;
  background: #fce4ec;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap; 
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 1.1rem;
}


.contact-info p a {
    color: #333; 
    text-decoration: none; 
    transition: color 0.3s ease;
}

.contact-info p a:hover {
    color: #FFB6C1; 
    text-decoration: underline; 
}

.contact-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
}

.contact-form textarea {
  height: 150px;
  resize: none;
}

.btn-submit {
  padding: 12px 20px;
  border: none;
  background: #ff79b0;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.btn-submit:hover {
  background: #ff4f95;
}


@media (max-width: 768px) {
    .contact-container {
        flex-direction: column; 
    }

    .contact-form {
        width: 100%; 
    }

    .contact-info {
        margin-bottom: 20px;
    }
}