.hero-banner {
  position: relative;
  height: 95vh;
  width: 100%;
  overflow: hidden;
}

.hero-banner .hero-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(55%);
}

.hero-banner .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  max-width: 90%; 
}

.hero-banner h1 {
  font-size: 3.5rem;
  font-family: "Playfair Display", serif;
}

.hero-banner p {
  margin: 10px 0 20px;
  font-size: 1.2rem;
  letter-spacing: 1px;
}


@media (max-width: 768px) {
    .hero-banner h1 {
        font-size: 2.5rem; 
    }

    .hero-banner p {
        font-size: 1rem; 
    }
}