.navbar {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.navbar .logo {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  color: #333;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #F8C8DC;
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        padding: 15px 20px; 
        gap: 10px;
    }

    .navbar .logo {
        font-size: 1.2rem;
    }

    .navbar ul {
        gap: 15px; 
        padding-bottom: 5px;
    }

    .navbar ul li a {
        font-size: 0.9rem;
    }
}