.projects-section {
  padding: 100px 8%;
  background: #fff;
}

.project-card {
  display: flex;
  background: #ffe4f0;
  border-radius: 20px;
  margin-bottom: 40px;
  overflow: hidden;
}

.project-card img {
  width: 50%;
  object-fit: cover;
}

.project-info {
  padding: 25px;
}

.project-info h3 {
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
}

.project-info p {
  margin-bottom: 20px;
}


.project-links {
  display: flex;
  gap: 15px; 
  margin-top: 15px;
}

.project-btn {
  display: inline-block;
  padding: 8px 18px;
  background: #FFB6C1; 
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 0.9rem;
}

.project-btn:hover {
   background: #F8C8DC; 
}