* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #333;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 40px;
}


@media (max-width: 768px) {
    h2 {
        font-size: 1.8rem; 
        margin-bottom: 30px;
    }
}